<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWorkOrderSvc" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WebService/WorkOrderSvc.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkOrderSvc"
                contract="WorkOrderService.IWorkOrderSvc" name="BasicHttpBinding_IWorkOrderSvc" />
        </client>
    </system.serviceModel>
</configuration>