<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.SandboxApp">
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-sdk android:targetSdkVersion="14" />
  <application android:label="Test App">

	  <receiver android:name="com.SandboxApp.ServiceReceiver">
		  <intent-filter>
			  <action android:name="android.intent.action.BOOT_COMPLETED" />
		  </intent-filter>
	  </receiver>
	  
  </application>

</manifest>